.left-bar {
  display: flex;
  flex-direction: column;
  gap: 205px;
  padding: 80px 50px 135px 50px;
  width: 35%;
  height: 100%;
  background-color: var(--cv-dark);
  border-right: 1px solid var(--cv-contacts-peperment);
}

.left-bar__texts-box,
.left-bar__links-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left-bar-devider {
  display: none;
  width: calc(100% + 60px);
  height: 1px;
  margin: 8px 0 8px -30px;
  background-color: var(--cv-contacts-peperment);
}

.left-bar__texts-box span {
  max-width: 240px;
}

.left-bar-text {
  font-family: Space Grotesk;
  font-size: 16px;
  line-height: 20px;
}

.left-bar-text-big {
  font-family: Space Grotesk;
  font-size: 18px;
  line-height: 22px;
}

.left-bar__mail {
  width: fit-content;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px dotted var(--cv-white);
}

.left-bar__social-links {
  display: flex;
  gap: 8px;
}

.left-bar__social-link {
  width: fit-content;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted var(--cv-white);
  transition: 0.5s;
  cursor: pointer;
}
.left-bar__social-link:hover {
  border-bottom: 1px dotted transparent;
}

@media (max-width: 1199px) {
  .left-bar {
    padding: 75px 30px 115px 30px;
  }
}

@media (max-width: 849px) {
  .left-bar {
    gap: 30px;
    width: 100%;
    height: fit-content;
    padding: 30px;
    border-right: none;
    border-bottom: 1px solid var(--cv-contacts-peperment);
  }

  .left-bar__links-box {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 549px) {
  .left-bar__links-box {
    flex-direction: column;
  }
}

@media (max-width: 519px) {
  .left-bar {
    padding: 20px 30px 20px 30px;
  }

  .left-bar__texts-box h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .left-bar-devider {
    display: flex;
  }

  .left-bar-text-big {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-height: 699px) {
  .left-bar {
    gap: 30px;
  }
}
