.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  padding: 0 20px;
  font-family: 'Space Grotesk';
}

.header-menu {
  display: flex;
  gap: 20px;
}

.menu-link {
  padding-bottom: 4px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.menu-link__underline {
  background: linear-gradient(var(--cv-peperment) 0 0) var(--p, 0) 100% / var(--d, 0) 2px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

@media (pointer: fine) {
  .menu-link__underline:hover {
    --d: 100%;
    --p: 100%;
  }
}

.menu-link__underline:active {
  --d: 100%;
  --p: 100%;
}
