.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  padding: 0 20px;
  font-family: 'Space Grotesk';
}

.header-menu {
  display: flex;
  gap: 20px;
}

.menu-link {
  font-family: 'Space Grotesk';
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
