.button_rounded {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  max-width: fit-content;
  padding: 8px 20px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.button_rounded svg {
  width: 0;
  padding-left: 0;
  transition: width 0.3s, padding-left 0.3s;
}

.button_rounded:before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.button_rounded__submit {
  width: 100%;
  max-width: none;
}

@media (pointer: fine) {
  .button_rounded:hover svg {
    padding-left: 8px;
    width: 30px;
  }

  .button_rounded:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
  }
}

.button_rounded__clear {
  background-color: transparent;
  border: 1px solid var(--cv-blue);
}

.button_rounded__clear:before {
  background-color: var(--cv-blue);
}

.button_rounded__clear:active:before {
  background-color: var(--cv-blue-activ);
}

@media (pointer: fine) {
  .button_rounded__clear:hover {
    color: var(--cv-white);
  }
}

.button_rounded__clear:active {
  color: var(--cv-white);
  background-color: var(--cv-blue-active);
  border: 1px solid var(--cv-blue-active);
}

.button_rounded__blue {
  background-color: var(--cv-blue);
  border: 1px solid var(--cv-blue);
}

.button_rounded__blue:hover,
.button_rounded__blue:active {
  background-color: var(--cv-blue-active);
  border: 1px solid var(--cv-blue-active);
}

.button_rounded__dark {
  background-color: var(--cv-dark);
  border: 1px solid var(--cv-peperment);
}

.button_rounded__dark:before {
  background-color: var(--cv-peperment);
}

.button_rounded__dark:active:before {
  background-color: var(--cv-peperment-active);
}

.button_rounded__success,
.button_rounded__error {
  pointer-events: none;
}

.button_rounded__success {
  color: var(--cv-dark);
  background-color: var(--cv-contacts-success);
  border: 1px solid var(--cv-contacts-success);
}

.button_rounded__error {
  color: var(--cv-dark);
  background-color: var(--cv-contacts-error);
  border: 1px solid var(--cv-contacts-error);
}

@media (pointer: fine) {
  .button_rounded__dark:hover {
    color: var(--cv-dark);
  }
}

.button_rounded__dark:active {
  color: var(--cv-white);
  background-color: var(--cv-peperment-active);
  border: 1px solid var(--cv-peperment-active);
}
