.button-circle {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 32px;
  color: var(--cv-white);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.1s, background-color 0.3s, border 0.3s;
}

.button-circle__arrows-box {
  display: flex;
  border-radius: 32px;
  transform: translateX(-50%);
  transition: 0.3s;
}

.button-circle__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 32px;
}

.button-circle__arrow svg {
  aspect-ratio: 1 / 1;
  width: 20px;
}

.button-circle:hover .button-circle__arrows-box,
.cv-card:hover .button-circle__arrows-box,
.projects-card:hover .button-circle__arrows-box {
  transform: translateX(0);
}

.cv-card:hover .button-circle {
  color: var(--cv-dark);
  background-color: var(--cv-peperment);
  border: 1px solid var(--cv-dark);
}

@media (pointer: coarse) {
  .cv-card__container-scrolled .button-circle__arrows-box,
  .projects-card__scrolled .button-circle__arrows-box {
    transform: translateX(0);
  }

  .cv-card__container-scrolled .button-circle {
    color: var(--cv-dark);
    background-color: var(--cv-peperment);
    border: 1px solid var(--cv-dark);
  }
}

.button-circle__bg-dark {
  background-color: var(--cv-dark);
}

.button-circle__bg-brown {
  background-color: var(--cv-brown);
}

.button-circle__border-white {
  border: 1px solid var(--cv-white);
}

.button-circle__border-brown {
  border: 1px solid var(--cv-brown);
}
