.cv-skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cv-skills__skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1199px) {
  .cv-skills {
    gap: 50px;
  }
}

@media (max-width: 519px) {
  .cv-skills {
    gap: 40px;
  }

  .cv-skills__skills-box {
    gap: 8px;
  }
}
