.cv-skill,
.cv-skill-text {
  position: relative;
  padding: 8px 20px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  border: 1px solid var(--cv-peperment);
  border-radius: 50px;
  overflow: hidden;
}

.cv-skill-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  transition: 0.3s;
  cursor: default;
}

.cv-skill-text__hidden {
  top: 100%;
}

.cv-skill:hover .cv-skill-text {
  top: -100%;
}

.cv-skill:hover .cv-skill-text__hidden {
  top: 0;
}
