.cv-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0;
}

.cv-skills h3 {
  font-family: 'Space Grotesk';
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .cv-skills {
    padding: 80px 40px;
  }
}

@media (max-width: 519px) {
  .cv-skills {
    padding: 40px 20px;
  }
}
