.cv-skills {
  display: flex;
  padding-bottom: 50px;
}

.cv-skills h2 {
  width: 42%;
}

.cv-skills__skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 49%;
}

@media (max-width: 1199px) {
  .cv-skills__skills-box {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .cv-skills {
    gap: 40px;
  }

  .cv-skills__skills-box {
    width: 90%;
  }
}

@media (max-width: 519px) {
  .cv-skills {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .cv-skills h2,
  .cv-skills__skills-box {
    width: 100%;
  }
}
