.cv-skill,
.cv-skill-text {
  position: relative;
  padding: 8px 16px;
  font-family: 'Space Grotesk';
  font-size: 24px;
  border: 1px solid var(--cv-peperment);
  border-radius: 50px;
  overflow: hidden;
}

.cv-skill-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  transition: 0.3s;
  cursor: default;
  user-select: none;
}

.cv-skill-text__hidden {
  top: 100%;
}

.cv-skill:hover .cv-skill-text {
  top: -100%;
}

.cv-skill:hover .cv-skill-text__hidden {
  top: 0;
}

@media (max-width: 519px) {
  .cv-skill,
  .cv-skill-text {
    font-size: 18px;
  }
}
