:root {
  --cv-white: #ffffff;
  --cv-black: #000000;
  --cv-dark: #0d1317;
  --cv-blue: #232ed1;
  --cv-blue-active: #151c7d;
  --cv-gray: #9c9c9c;
  --cv-peperment: #89d2dc;
  --cv-peperment-active: #588f97;
  --cv-peperment-dark: #162027;
  --cv-form-grey: #f2f2f2;
  --cv-form-error: #ee4444;
  --cv-form-success: #00914d;
  --cv-card-circle: #424242;
}
