.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  padding: 0 20px;
  font-family: "Space Grotesk";
}

.header_menu {
  display: flex;
  gap: 20px;
}
