.card {
  display: flex;
  height: auto;
  cursor: pointer;
}

.cv-cards .card {
  width: calc(33% - 6.5px);
}

.projects-cards .card {
  height: fit-content;
}

.card__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--cv-white);
  border-radius: 30px;
}

.card__image-box {
  position: relative;
  aspect-ratio: 1.5 / 1;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.card__image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

@media (pointer: fine) {
  .card:hover .card__image {
    transform: scale(1.1);
  }
}

@media (pointer: coarse) {
  .card__scrolled .card__image {
    transform: scale(1.1);
  }
}

.card__tech-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
}

.card__team,
.card__tech {
  padding: 4px 8px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  border-radius: 50px;
  user-select: none;
}

.card__team {
  background-color: var(--cv-blue);
}

.card__tech-dark {
  background-color: var(--cv-dark);
}

.card__tech-white {
  background-color: var(--cv-white);
}

.card__info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.card h2 {
  font-family: 'Space Grotesk';
  font-size: 20px;
  font-weight: 500;
}

.card-text {
  font-family: 'Space Grotesk';
  font-size: 18px;
}

.card-text-small {
  font-size: 16px;
}

.card__buttons-hider {
  width: 100%;
  height: 0px;
  margin-top: auto;
  transition: 0.5s;
  overflow: hidden;
}

.projects-cards .card__buttons-hider {
  height: 0px;
}

.cv-cards .card__buttons-hider {
  height: 72px;
}

@media (pointer: fine) {
  .card:hover .card__buttons-hider {
    height: 72px;
  }
}

@media (pointer: coarse) {
  .card__scrolled .card__buttons-hider {
    height: 72px;
  }
}

.card__buttons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  margin-top: auto;
  padding: 35px 30px 25px 30px;
  transition: 0.5s;
}

.cv-cards .card__buttons-box {
  transform: translateY(100%);
}

@media (pointer: fine) {
  .cv-cards .card:hover .card__buttons-box {
    transform: translateY(0);
  }
}

.card__github-box,
.card__deploy-box {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 100%;
}

.card__deploy-box {
  cursor: pointer;
}

.card__github {
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted var(--cv-gray);
  transition: 0.5s;
}

.card__github:hover {
  border-bottom: 1px dotted transparent;
}

@media (max-width: 899px) {
  .cv-cards .card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .cv-cards .card {
    width: 100%;
  }

  .projects-cards .card__buttons-hider {
    height: 72px;
  }

  .card__buttons-box {
    transform: translateY(100%);
  }

  @media (pointer: coarse) {
    .card__scrolled .card__buttons-box {
      transform: translateY(0);
    }
  }
}

@media (max-width: 519px) {
  .card-text {
    font-size: 16px;
  }
}
