.cv-about {
  display: flex;
  padding-bottom: 50px;
}

.cv-about h2 {
  width: 42%;
}

.cv-about__text-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 49%;
}

.about-text {
  font-family: 'Space Grotesk';
  font-size: 18px;
}

@media (max-width: 1199px) {
  .cv-about__text-box {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .cv-about {
    gap: 40px;
  }

  .cv-about__text-box {
    width: 90%;
  }
}

@media (max-width: 519px) {
  .cv-about {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .cv-about h2,
  .cv-about__text-box {
    width: 100%;
  }

  .about-text {
    font-size: 16px;
  }
}
