.cv-about {
  display: flex;
}

.cv-about h2 {
  width: 42%;
}

.cv-about__text-box {
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 49%;
}

.about-text {
  font-family: 'Space Grotesk';
  font-size: 18px;
  line-height: 25.2px;
}

.cv-about__rs-link {
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted var(--cv-white);
  transition: 0.5s;
}

.cv-about__rs-link:hover {
  border-bottom: 1px dotted transparent;
}

@media (max-width: 1199px) {
  .cv-about__text-box {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .cv-about {
    gap: 40px;
  }

  .cv-about__text-box {
    width: 90%;
  }
}

@media (max-width: 519px) {
  .cv-about {
    flex-direction: column;
  }

  .cv-about h2,
  .cv-about__text-box {
    width: 100%;
  }

  .about-text {
    font-size: 16px;
    line-height: 22.4px;
  }
}
