.cv-about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0;
}

.cv-about__text-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}

.about-text {
  font-family: 'Space Grotesk';
  font-size: 20px;
}
