.cv-title {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.cv-title__text-box {
  display: flex;
  flex-direction: column;
}

.cv-title__text {
  font-family: 'Space Grotesk';
  font-size: 1.1rem;
}

.cv-title__cursor {
  animation: cursor 1s infinite 1s step-end;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1199px) {
  .cv-title {
    padding: 80px 40px;
  }
}

@media (max-width: 519px) {
  .cv-title {
    padding: 60px 20px;
  }
}
