.preloader {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}

.preloader-shown {
  opacity: 1;
}

.preloader__background-white,
.preloader__background-blue {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--cv-white);
  animation-name: preloader-bg;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.preloader__background-white {
  left: 0;
  background-color: var(--cv-white);
}

.preloader__background-blue {
  right: 0;
  background-color: var(--cv-blue);
  animation-direction: reverse;
}

.preloader__percentages-box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__percentages-box__text {
  font-family: Space Grotesk;
  font-size: 96px;
  font-weight: 500;
  line-height: 122px;
}

.preloader__percentages-box__align-left {
  left: 0;
}

.preloader__percentages-box__align-right {
  right: 0;
}

.preloader__percentages-slider {
  width: 240px;
  height: 122px;
  overflow: hidden;
}

.preloader__percentages {
  z-index: 2003;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  animation-name: numbers;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes preloader-bg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes numbers {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
