.projects-title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects-title h1 {
  width: 100%;
  font-size: 96px;
  line-height: 0.9;
}

.projects-title__projects-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.projects-title__project-name {
  padding: 5px 10px;
  font-family: 'Unica One';
  text-decoration: none;
  background-color: var(--cv-dark);
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 899px) {
  .projects-title h1 {
    font-size: 72px;
  }
}

@media (max-width: 519px) {
  .projects-title h1 {
    font-size: 64px;
  }
}
