.projects-title {
  display: flex;
  justify-content: center;
}

.projects-title h1 {
  font-size: 96px;
}

@media (max-width: 899px) {
  .projects-title h1 {
    font-size: 72px;
  }
}

@media (max-width: 519px) {
  .projects-title h1 {
    font-size: 64px;
  }
}
