.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 16px;
}

.contact-form-text {
  font-family: Space Grotesk;
  font-size: 16px;
  line-height: 20px;
}

.contact-form__header-text {
  width: fit-content;
  margin-left: 24px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--cv-black);
  border-radius: 8px 8px 0px 0px;
}

.cv-form__inputs_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--cv-black);
}

.inputs-box__name-email {
  display: flex;
  gap: 10px;
}

.name-input-box,
.email-input-box,
.text-input-box {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 50%;
}

.text-input-box {
  width: 100%;
}

.name-input,
.email-input,
.text-input {
  padding: 10px;
  font-family: 'Space Grotesk';
  background-color: var(--cv-form-grey);
  border: none;
  border-radius: 5px;
}

.text-input {
  min-height: 100px;
  resize: vertical;
}

.inputs-box__submit {
  background-color: var(--cv-black);
  transition: 0.3s;
  pointer-events: all;
}

.inputs-box__submit-success {
  background-color: var(--cv-form-success);
  pointer-events: none;
  cursor: default;
}

.inputs-box__submit-error {
  background-color: var(--cv-form-error);
  pointer-events: none;
  cursor: default;
}

.form-invalid-text {
  font-family: 'Space Grotesk';
  color: var(--cv-form-error);
  font-size: 0.8rem;
}

@media (max-width: 849px) {
  .contact-form {
    width: 100%;
    height: 100%;
  }
}
