.contact-form {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-top: 16px;
}

.contact-form-text {
  font-family: Space Grotesk;
  font-size: 16px;
  line-height: 20px;
}

.contact-form__header-text {
  width: fit-content;
  margin-left: 24px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--cv-black);
  border-radius: 8px 8px 0px 0px;
}

.contact-form__box {
  height: calc(100% - 39px);
  background-color: var(--cv-black);
  overflow-y: auto;
}

.contact-form__inputs-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
  padding: 40px 50px;
}

.contact-form__input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form__input-box label {
  font-weight: 500;
}

.contact-form__email-phone-box {
  display: flex;
  gap: 24px;
}

.contact-form__email-phone-box .contact-form__input-box {
  width: 50%;
}

.contact-form__input {
  display: flex;
  width: 100%;
  font-family: Space Grotesk;
  color: var(--cv-contacts-yellow);
  opacity: 0.5;
}

.contact-form__input input,
.contact-form__input textarea {
  width: 100%;
  padding: 3px;
  color: var(--cv-contacts-yellow);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--cv-contacts-yellow);
  border-radius: none;
  outline: none;
}

.contact-form__input textarea {
  resize: none;
}

.contact-form__input::before,
.contact-form__input::after {
  content: '"';
}

.contact-form__input-textarea::after {
  display: flex;
  align-items: end;
  padding-bottom: 5px;
}

.contact-form__input input::placeholder,
.contact-form__input textarea::placeholder {
  color: var(--cv-contacts-yellow);
}

.contact-form__input input:-webkit-autofill,
.contact-form__input input:-webkit-autofill:hover,
.contact-form__input input:-webkit-autofill:focus,
.contact-form__input textarea:-webkit-autofill,
.contact-form__input textarea:-webkit-autofill:hover,
.contact-form__input textarea:-webkit-autofill:focus,
.contact-form__input select:-webkit-autofill,
.contact-form__input select:-webkit-autofill:hover,
.contact-form__input select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid var(--cv-contacts-yellow);
  border-radius: none;
  -webkit-text-fill-color: var(--cv-contacts-yellow);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form__input:focus-within {
  opacity: 1;
}

.contact-form__submition {
  display: flex;
  flex-direction: column;
}

.contact-form__submition-data {
  padding-left: 20px;
}

.contact-form__invalid {
  color: var(--cv-contacts-error);
}

.contact-form__valid {
  color: var(--cv-contacts-success);
}

@media (max-width: 849px) {
  .contact-form {
    width: 100%;
  }

  .contact-form__box {
    height: calc(100% - 247px);
  }

  .contact-form__inputs-box {
    height: fit-content;
  }

  .contact-form__email-phone-box {
    flex-direction: column;
  }

  .contact-form__email-phone-box .contact-form__input-box {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .contact-form {
    height: fit-content;
  }

  .contact-form__box {
    height: fit-content;
  }
}

@media (max-width: 519px) {
  .contact-form__inputs-box {
    padding: 30px;
  }

  .contact-form {
    position: relative;
  }

  .contact-form::after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: red;
  }
}
