.to-top__button {
  z-index: 1000;
  position: fixed;
  bottom: 55px;
  right: 20px;
  background-color: var(--cv-dark);
  border-radius: 50%;
  transform: rotate(-90deg);
  opacity: 0;
  transition: 0.3s;
  user-select: none;
}

.to-top__button-shown {
  opacity: 1;
  user-select: auto;
}
