.cv-card {
  width: 32%;
  text-decoration: none;
}

.cv-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-color: var(--cv-dark);
  border: 1px solid var(--cv-peperment-border);
  border-radius: 20px;
  transition: 0.5s;
}

@media (pointer: coarse) {
  .cv-card__container-scrolled {
    background-color: var(--cv-peperment);
  }
}

.cv-card__image {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  filter: brightness(0.5);
}

.cv-card__name {
  padding: 0 20px;
  font-family: 'Space Grotesk';
  font-size: 20px;
  font-weight: 500;
}

.cv-card__description {
  padding: 0 20px;
  font-family: 'Space Grotesk';
  font-size: 18px;
}

.cv-card__image,
.cv-card__name,
.cv-card__description {
  transition: 0.5s;
}

@media (pointer: fine) {
  .cv-card:hover .cv-card__container {
    background-color: var(--cv-peperment);
  }

  .cv-card:hover .cv-card__image {
    filter: brightness(1);
  }

  .cv-card:hover .cv-card__name,
  .cv-card:hover .cv-card__description {
    color: var(--cv-dark);
  }
}

@media (pointer: coarse) {
  .cv-card__container-scrolled .cv-card__image {
    filter: brightness(1);
  }

  .cv-card__container-scrolled .cv-card__name,
  .cv-card__container-scrolled .cv-card__description {
    color: var(--cv-dark);
  }
}

.cv-card .button-circle {
  align-self: flex-end;
  margin: auto 22px 22px 0;
}

@media (max-width: 819px) {
  .cv-card {
    width: 48%;
  }

  .cv-card:last-child {
    width: 100%;
  }
}

@media (max-width: 519px) {
  .cv-card {
    width: 100%;
  }

  .cv-card__image {
    height: 230px;
  }

  .cv-card__name {
    font-size: 18px;
  }

  .cv-card__description {
    font-size: 16px;
  }
}
