.cv-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cv-cards__box {
  display: flex;
  gap: 20px;
}

.cv-cards__buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 899px) {
  .cv-cards__box {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .cv-cards__box {
    flex-direction: column;
  }
}

@media (max-width: 519px) {
  .cv-cards {
    gap: 40px;
  }
}
