.cv-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 32%;
}

.cv-card__image {
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
  opacity: 0.2;
  transition: 0.3s;
}

.cv-card__image-scrolled {
  opacity: 1;
}

.cv-card__description {
  font-family: 'Space Grotesk';
  font-size: 20px;
}

@media (max-width: 519px) {
  .cv-card {
    width: 100%;
  }
}
