.cv-cards {
  display: flex;

  flex-direction: column;
  gap: 50px;
}

.cv-cards__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.cv-cards__buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 519px) {
  .cv-cards__box {
    flex-direction: column;
    gap: 30px;
  }
}
