.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  min-height: 70px;
  padding: 0 100px;
  font-family: 'Space Grotesk';
}

.footer-box__social-icons {
  display: flex;
  gap: 20px;
}

.socilal-icon {
  aspect-ratio: 1/1;
  width: 32px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.socilal-icon:hover {
  transform: scale(1.1);
}

.socilal-icon__github {
  background-image: url(/icons/github_icon.svg);
}

.socilal-icon__discord {
  background-image: url(/icons/discord_icon.svg);
}

.socilal-icon__telegram {
  background-image: url(/icons/telegram_icon.svg);
}

@media (max-width: 1199px) {
  .footer-box {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 519px) {
  .footer-box {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 40px 20px;
  }
}
