.footer,
.footer-box,
.footer-box__top-panel,
.footer-box__bottom-panel,
.footer-box__links,
.footer-box__authors,
.footer-box__cv-links,
.footer-box__social-links,
.footer-box__to-top {
  display: flex;
}

.footer {
  justify-content: center;
  width: 100%;
}

.footer-box,
.footer-box__top-panel,
.footer-box__bottom-panel {
  width: 100%;
  justify-content: space-between;
}

.footer-box {
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1920px;
  min-height: 70px;
  padding: 50px 50px 64px 50px;
  font-family: 'Space Grotesk';
  font-size: 18px;
}

.footer__link {
  width: fit-content;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px dotted var(--cv-gray);
  transition: 0.5s;
  cursor: pointer;
}

.footer__link:hover {
  border-bottom: 1px dotted transparent;
}

.footer-box__links {
  gap: 62px;
}

.footer-box__authors,
.footer-box__cv-links,
.footer-box__social-links {
  flex-direction: column;
  gap: 12px;
}

.footer-box__cv-links {
  gap: 8px;
}

.footer-box__social-links {
  gap: 10px;
}

.footer-box__to-top {
  align-items: center;
  gap: 4px;
  height: 24px;
  cursor: pointer;
}

.footer-box__to-top svg {
  width: 24px;
}

@media (max-width: 767px) {
  .footer-box {
    padding: 50px 20px 64px 20px;
  }
}

@media (max-width: 610px) {
  .footer-box__top-panel {
    flex-direction: column;
    gap: 50px;
  }

  .footer-box__authors {
    order: 2;
  }

  .footer-box__links {
    order: 1;
    justify-content: space-between;
    gap: 0;
  }

  .footer-box__social-links {
    align-items: flex-end;
  }
}

@media (max-width: 519px) {
  .footer-box {
    gap: 40px;
    padding: 60px 20px;
    font-size: 16px;
  }

  .footer-box__top-panel {
    gap: 40px;
  }
}
