.contacts-background {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(0);
  transition: 0.5s;
}

.contacts-background-shown {
  backdrop-filter: blur(2px);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 800px;
  background-color: var(--cv-dark);
  border: 1px solid var(--cv-contacts-peperment);
  border-radius: 20px 20px 0px 0px;
  transform: translateY(100%);
  transition: 0.5s;
}

.contacts-shown {
  transform: translateY(0);
}

.contacts__box {
  display: flex;
  width: 100%;
  height: calc(100% - 73px);
}

@media (max-width: 1199px) {
  .contacts {
    width: 95%;
    height: 800px;
  }
}

@media (max-width: 849px) {
  .contacts__box {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .contacts {
    width: 95%;
    height: 90%;
  }

  .contacts__box {
    height: calc(100% - 75px);
    overflow-y: auto;
  }
}

@media (max-width: 519px) {
  .contacts {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }

  .contacts__box {
    height: calc(100% - 65px);
    overflow-y: auto;
  }

  .contacts__box {
    position: relative;
  }

  .contacts__box::after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: var(--cv-black);
  }
}
