.projects-card {
  display: flex;
  height: fit-content;
  transition: 0.5s;
}

.projects-card__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--cv-white);
  border-radius: 30px;
  transition: 0.5s;
}

.projects-card__image-box {
  position: relative;
  aspect-ratio: 1.5 / 1;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.projects-card__image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

@media (pointer: fine) {
  .projects-card:hover .projects-card__image {
    transform: scale(1.1);
  }
}

@media (pointer: coarse) {
  .projects-card__scrolled .projects-card__image {
    transform: scale(1.1);
  }
}

.projects-card__tech-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
}

.projects-card__team,
.projects-card__tech {
  padding: 4px 8px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  border-radius: 50px;
}

.projects-card__team {
  background-color: var(--cv-blue);
}

.projects-card__tech {
  background-color: var(--cv-dark);
}

.projects-card__info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.projects-card h2 {
  font-family: 'Space Grotesk';
  font-size: 20px;
  font-weight: 500;
}

.projects-card-text {
  font-family: 'Space Grotesk';
  font-size: 18px;
}

.projects-card__buttons-hider {
  width: 100%;
  height: 0px;
  transition: 0.5s;
  overflow: hidden;
}

@media (pointer: fine) {
  .projects-card:hover .projects-card__buttons-hider {
    height: 92px;
  }
}

@media (pointer: coarse) {
  .projects-card__scrolled .projects-card__buttons-hider {
    height: 92px;
  }
}

.projects-card__buttons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding: 30px;
}

.projects-card__github-box,
.projects-card__deploy-box {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.projects-card__deploy-box {
  cursor: pointer;
}

.projects-card__github {
  text-decoration: none;
  border-bottom: 1px dotted var(--cv-gray);
  transition: 0.5s;
}

.projects-card__github:hover {
  border-bottom: 1px dotted transparent;
}

@media (max-width: 519px) {
  .projects-card-text {
    font-size: 16px;
  }
}
