.projects-cards {
  display: flex;
  gap: 20px;
}

.projects-cards__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: calc(50% - 10px);
  height: fit-content;
}

@media (max-width: 768px) {
  .projects-cards {
    flex-direction: column;
  }

  .projects-cards__box {
    width: 100%;
  }
}
