.projects-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.projects-card__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-size: cover;
}

.projects-card__info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-card__description {
  font-family: 'Space Grotesk';
  font-size: 20px;
}

@media (max-width: 1199px) {
}

@media (max-width: 899px) {
  .projects-card {
    width: 45%;
  }
}

@media (max-width: 519px) {
  .projects-card {
    width: 100%;
  }
}
