.projects_title {
  display: flex;
  justify-content: center;
}

.projects_title h1 {
  font-size: 96px;
}

@media (max-width: 899px) {
  .projects_title h1 {
    font-size: 72px;
  }
}

@media (max-width: 519px) {
  .projects_title h1 {
    font-size: 64px;
  }
}
