* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

main {
  width: 100%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Unica One';
  src: url('../fonts/UnicaOne-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Unica One';
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Unica One';
  font-size: 48px;
  font-weight: normal;
}

button {
  padding: 12px 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-color-white {
  color: var(--cv-white);
}

.text-color-dark {
  color: var(--cv-dark);
}

.text-color-blue {
  color: var(--cv-blue);
}

.text-color-peperment {
  color: var(--cv-peperment);
}

.text-color-gray {
  color: var(--cv-gray);
}

.text-color-pink {
  color: var(--cv-contacts-pink);
}

.text-uppercased {
  text-transform: uppercase;
}

.cv-link {
  width: fit-content;
  padding-bottom: 4px;
  font-family: 'Space Grotesk';
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.cv-link__bold {
  font-weight: 700;
}

.cv-link__underline {
  background: linear-gradient(var(--cv-blue) 0 0) var(--p, 0) 100% / var(--d, 0) 2px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

@media (pointer: fine) {
  .cv-link__underline:hover {
    --d: 100%;
    --p: 100%;
  }
}

.cv-link__underline:active {
  --d: 100%;
  --p: 100%;
}

.cursor {
  animation: cursor 1s infinite 1s step-end;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 519px) {
  h2 {
    font-size: 40px;
  }

  .cv-link {
    font-size: 16px;
  }
}
