* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Unica One';
  src: url('../fonts/UnicaOne-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Unica One';
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Unica One';
  font-size: 48px;
  font-weight: normal;
}

button {
  padding: 12px 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
}

.button-rounded {
  z-index: 2;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  font-family: 'Space Grotesk';
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.button-rounded svg {
  width: 0;
  padding-left: 0;
  transition: 0.3s;
}

.button-rounded:before {
  z-index: -1;
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

@media (pointer: fine) {
  .button-rounded:hover svg {
    padding-left: 8px;
    width: 25px;
  }

  .button-rounded:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
  }
}

.button-circle {
  aspect-ratio: 1 / 1;
  width: 35px;
  background-color: var(--cv-card-circle);
  background-image: url(/icons/arrow_right_icon.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: -12px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
}

.text-color-white {
  color: var(--cv-white);
}

.text-color-blue {
  color: var(--cv-blue);
}

.text-color-peperment {
  color: var(--cv-peperment);
}

.text-color-gray {
  color: var(--cv-gray);
}

.socilal-icon {
  aspect-ratio: 1/1;
  width: 32px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.socilal-icon:hover {
  transform: scale(1.1);
}

.socilal-icon__github-white {
  background-image: url(/icons/github_icon_white.svg);
}

.socilal-icon__github-peperment {
  background-image: url(/icons/github_icon_peperment.svg);
}

.socilal-icon__discord {
  background-image: url(/icons/discord_icon.svg);
}

.socilal-icon__telegram {
  background-image: url(/icons/telegram_icon.svg);
}

.cursor {
  animation: cursor 1s infinite 1s step-end;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 519px) {
  h2 {
    font-size: 40px;
  }
}
