* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Unica One';
  src: url('../fonts/UnicaOne-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Unica One';
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Unica One';
  font-size: 48px;
  font-weight: normal;
}

button {
  padding: 12px 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-color-white {
  color: var(--cv-white);
}

.text-color-blue {
  color: var(--cv-blue);
}

.text-color-peperment {
  color: var(--cv-peperment);
}

.cursor {
  animation: cursor 1s infinite 1s step-end;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 519px) {
  h2 {
    font-size: 32px;
  }
}
