.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 1000px;
}

.wrapper-medium {
  width: 800px;
}

.wrapper-small {
  width: 600px;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
}

.section-full-width {
  padding-left: 0;
  padding-right: 0;
}

.section-white {
  background-color: var(--cv-white);
}

.section-blue {
  background-color: var(--cv-blue);
}

.section-blue ::selection {
  background: var(--cv-dark);
}

.section-dark {
  background-color: var(--cv-dark);
}

.non-displayed {
  display: none;
}

@media (max-width: 1199px) {
  .section {
    padding: 80px 40px;
  }

  .section-full-width {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    width: 100%;
  }
}

@media (max-width: 519px) {
  .section {
    padding: 60px 20px;
  }

  .section-full-width {
    padding-left: 0;
    padding-right: 0;
  }
}
