.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 1000px;
}

.wrapper-small {
  width: 600px;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-white {
  background-color: var(--cv-white);
}

.section-blue {
  background-color: var(--cv-blue);
}

.section-dark {
  background-color: var(--cv-dark);
}
